In [2]:
import pandas as pd

In [183]:
movie=pd.read_csv('/Users/lingyitan/Desktop/database data/movie_info_19.csv', sep=',')
movie.shape

(25704, 9)

In [11]:
crew=pd.read_csv('/Users/lingyitan/Desktop/database data/movie.principals.tsv', sep='\t')
crew_100=crew.loc[crew['tconst'].isin(movie['tconst']) ]
crew_100.shape

(217254, 7)

In [22]:
title=pd.read_csv('/Users/lingyitan/Desktop/database data/movie.akas.tsv', sep='\t')
title_100=title.loc[title['titleId'].isin(movie['tconst']) ]
title_100.shape

/Users/lingyitan/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(52783, 9)

In [24]:
crew_100['category'].unique()

array(['editor', 'actor', 'actress', 'director', 'writer', 'producer',
       'composer', 'cinematographer', 'self', 'production_designer',
       'archive_footage', 'archive_sound'], dtype=object)

In [29]:
Cast=crew_100.loc[crew['category'].isin(['self','actor','actress'])]
Crew=crew_100.loc[crew['category'].isin(['director','writer','producer','composer'])]

(97984, 7, 86489, 7)

In [94]:
#Generate cast relationship
Cast_re=Cast[['tconst','nconst','characters','category']]
Cast_re.columns=['Movie_ID','Person_ID','characters','category']
Cast_re.to_csv('/Users/lingyitan/Desktop/database data/Cast_re.tsv',sep='\t')

In [223]:
Crew_re.shape

(86489, 3)

In [36]:
people=pd.read_csv('/Users/lingyitan/Desktop/database data/name.basics.tsv',sep='\t')

In [71]:
#Generate cast info
Cast_people=people.loc[people['nconst'].isin(Cast['nconst'])]
Cast_people.columns=['Person_ID','Name','Birth Year','Death Year','Primary Profession','Known for titles']
Cast_people=Cast_people[['Person_ID','Name','Birth Year','Death Year','Known for titles']]
Cast_people.to_csv('/Users/lingyitan/Desktop/database data/Cast_people.tsv',sep='\t')
Cast_people.head(3)

,Person_ID,Name,Birth Year,Death Year,Known for titles
1,nm0000002,Lauren Bacall,1924,2014,"tt0038355,tt0071877,tt0117057,tt0037382"
4,nm0000005,Ingmar Bergman,1918,2007,"tt0050976,tt0083922,tt0060827,tt0050986"
7,nm0000008,Marlon Brando,1924,2004,"tt0068646,tt0047296,tt0070849,tt0078788"

In [75]:
#Generate crew relationship and crew
Crew_re=Crew[['tconst','nconst','category']]
Crew_re.columns=['Movie_ID','Person_ID','Category']
Crew_people=people.loc[people['nconst'].isin(Crew['nconst'])]
Crew_people.columns=['Person_ID','Name','Birth Year','Death Year','Primary Profession','Known for titles']
Crew_re.to_csv('/Users/lingyitan/Desktop/database data/Crew_re.tsv',sep='\t')
Crew_people.to_csv('/Users/lingyitan/Desktop/database data/Crew_people.tsv',sep='\t')

In [172]:
#Generate title
title=title_100[['titleId','ordering','title','region','language','isOriginalTitle']]
title.columns=[['Movie_ID','Version_order','Title','Region','Language','isOriginalTitle']]
title.to_csv('/Users/lingyitan/Desktop/database data/title.tsv',sep='\t')

In [190]:
#Generate Movie
movie_100=movie[['tconst','primaryTitle','isAdult','startYear', 'runtimeMinutes']]
movie_100.columns=[['Movie_ID','Primary Title','isAdult','Year','Runtime']]
movie_100.to_csv('/Users/lingyitan/Desktop/database data/movie.tsv',sep='\t')

In [193]:
#Rating
Rating=pd.read_csv('/Users/lingyitan/Desktop/database data/movie.ratings.tsv', sep='\t')
Rating_100=Rating.loc[Rating['tconst'].isin(movie['tconst']) ]
Rating_100=Rating_100[['tconst','averageRating','numVotes']]
Rating_100.columns=[['Movie_ID','Average Rating','Number of Votes']]

In [215]:
Rating_100.head()

        Movie_ID Average Rating Number of Votes Level
1759   tt0015724            6.2              19     0
41795  tt0081145            5.3             204     0
43523  tt0084015            7.3              39     0
43850  tt0084551            5.3               9     0
44042  tt0084870            7.5             179     0

In [221]:
Rating_100.to_csv('/Users/lingyitan/Desktop/database data/rating.csv',sep=',')